body{
	background-image: url('../pictures/background.png');
	background-color: black;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h3{
	text-align: center;
	font-weight: 700;
	color: white;
}
#form {
	color: white
	background-color: black;
	font-weight: 700;
}
#erro,#erro1, #erro2, #erro3, #erro4, #erro5{
	display: none;
}

.btn-danger{
	color: #a94442;
	background-color: #f2dede;
	border-color: #a94442;
}

.btn-default{
	background-color: #eee;
}
.row{
	margin: 10px;
	
}

.vertical-center {
	min-height: 100%; 
	min-height: 100vh;
	align-items: center;
	display: flex;
	font-family: 'Lato', sans-serif;


  
      
  
}

.navbar-inverse{
	margin: 0px;
}

.navbar-brand{
	padding: 2px;
}

.form-horizontal{
	border: 1px solid;
	padding: 20px;
	background-color: rgba(0,0,0,0.5);
	

}
