body{
	font-family: 'Lato', sans-serif;
	
}

#remember, #login{
	color: white;
	font-weight: 700;
}

#login{
	text-align: center;
	font-family: 'Lato', sans-serif;

}

#entrar, #cadastrar, #esqueciSenha{
	
	font-size: 14px;
	color: white;
}

.row{
	margin: 5px;
	
}

.vertical-center {
  min-height: 100%; 
  min-height: 100vh;
  background-image: url('../pictures/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
     
  
}

.form-horizontal{
	border: 1px solid;
	padding-bottom: 20px;
	background-color: rgba(0,0,0,0.5);
	

}
